<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/form-editarContraseña.css">
	<title>Document</title>
</head>
<body>
	<div class="content-form">
		<form action="/editar" method="POST" class="form">
			<input type="password" placeholder="actual" class="inputs" name="actual">
			<input type="password" placeholder="nueva" class="inputs" name="nueva">
			<button class="btn">Guardar cambios</button>
		</form>
	</div>
</body>
</html>